
  <div class="modal-header">
    <h4>Please login to Rightscale</h4>
  </div>
  <div class="modal-body">
    <form ng-submit="submit()" class="form-tight" role="form">
      <div class="form-group">
      <p><input type="text" class="form-control" ng-model="user.email" placeholder="Enter Email"></p>
      <p><input type="password" class="form-control" type="password" ng-model="user.password" placeholder="Enter Password"></p>
      <p><button type="submit" class="btn btn-success">Sign in</button></p>
      </div>
    </form>
  </div>
</div>